<div *ngIf="!checkLog()">
    <!-- Register icon -->
    <i class="fa-solid fa-user-plus"></i>
    <!-- Login icon -->
    <a routerLink="modal" routerLinkActive="activa"><i class="fa-solid fa-right-to-bracket"></i></a>
</div>
<div *ngIf="checkLog()">
    <!-- Wishlist icon -->
    <i class="fa-regular fa-clipboard"></i>
    <!-- Profile icon -->
    <i class="fa-regular fa-user"></i>
    <!-- Logout icon -->
    <a routerLink="modallogout" routerLinkActive="activa"><i class="fa-solid fa-right-from-bracket"></i></a>
</div>