.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product {
    position: relative;
    flex-basis: 33%;
    text-align: center;
    margin-bottom: 20px;
}

.featuredproduct, .wishlistproduct {
    flex-basis: 25%;
    text-align: center;
}

.photos {
    position: relative;
}

.secondaryphoto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.photos:hover .secondaryphoto {
    cursor: pointer;
    display: inline;
}

.featuredproduct:hover {
    border: 2px;
    border-color: red;
    border-style: solid;
    cursor: pointer;
}

.brand {
    font-weight: bold;
}

.stars {
    position: absolute;
    top: 0%;
    right: 0%;
    cursor: pointer;
}
