<div class="products" *ngIf="productsList.length > 0">
    <div class="product" *ngFor="let product of productsList">
        <div class="photos">
            <img class="mainphoto" src="{{ product.main_photo }}">
            <img class="secondaryphoto" src="{{ product.secondary_photo }}" (click)="showInfo(product.id!)">
        </div>
        <h2 class="brand">{{ product.brand }}</h2>
        <p class="name">{{ product.name }}</p>
        <p class="type">{{ product.product_type }}</p>
        <h1 class="price">{{ product.price }} €</h1>
        <div class="stars" *ngIf="checkLog()">
            <i class="far fa-star" (click)="addToWishlist(product.id!, $event)"></i>
            <i class="fas fa-star" (click)="removeFromWishlist(product.id!, $event)"></i>
        </div>
    </div>
</div>
<div class="products" *ngIf="featuredproductsList.length > 0">
    <div class="featuredproduct" *ngFor="let product of featuredproductsList">
        <div class="photos">
            <img class="mainphoto" src="{{ product.main_photo }}" (click)="showInfo(product.id!)">
        </div>
    </div>
</div>