.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product {
    flex-basis: 33%;
    text-align: center;
}

.featuredproduct {
    flex-basis: 25%;
    text-align: center;
}

.photos {
    position: relative;
}

.secondaryphoto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.product:hover .secondaryphoto {
    visibility: visible;
}

.featuredproduct:hover {
    border: 2px;
    border-color: red;
    border-style: solid;
}

.brand {
    font-weight: bold;
}

.brand, .name, .type, .price {
    text-align: center;
}