<div class="box">
    <h3 class="title">Tipo</h3>
    <div class="box-body">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="casacos">
            <label class="form-check-label" for="casacos">Casacos</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="camisas">
            <label class="form-check-label" for="camisas">Camisas</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="calcas">
            <label class="form-check-label" for="calcas">Calças</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="sweatshirts">
            <label class="form-check-label" for="sweatshirts">Sweatshirts</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="polos">
            <label class="form-check-label" for="polos">Polos</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="sapatos">
            <label class="form-check-label" for="sapatos">Sapatos</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="todos">
            <label class="form-check-label" for="todos">Todos</label>
        </div>
    </div>
    <h3 class="title">Cor</h3>
    <div class="box-body">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault1" id="azul">
            <label class="form-check-label" for="azul">Azul</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault1" id="cinzento">
            <label class="form-check-label" for="cinzento">Cinzento</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault1" id="laranja">
            <label class="form-check-label" for="laranja">Laranja</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault1" id="preto">
            <label class="form-check-label" for="preto">Preto</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault1" id="todos">
            <label class="form-check-label" for="todos">Todos</label>
        </div>
    </div>
</div>